# Dependencies
node_modules/
.yarn/
.pnp.*
yarn.lock
package-lock.json

# Build Output
/build/
.next/
.out/
dist/
coverage/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Database files
*.sqlite
*.sqlite-journal

# Misc
.DS_Store
.vscode/
.idea/
*.swp
