# Dependencies
node_modules/
yarn.lock
package-lock.json
.pnp.*

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Build Output
dist/
coverage/

# Environment Variables
.env
.env.local

# Database files
*.sqlite
*.sqlite-journal

# Misc
.DS_Store
.vscode/
.idea/
*.swp
